nav {
  display: flex;
  height: 120px;
  background-color: #800000;
  color: whitesmoke;
  align-items: flex-end;
  justify-content: space-between;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav span {
  font-size: 50px;
  font-family: "Bungee";
  margin-left: 1.5em;
  margin-bottom: 0.25em;
}

nav div {
  margin-right: 1.5em;
  margin-bottom: 1em;
}

nav div i {
  color: whitesmoke;
}

#nav-button {
  background: maroon;
  border: none;
}

#nav-button:hover {
  box-shadow: 2.5px 5px;
}