nav {
  display: flex;
  height: 120px;
  background-color: #4056A1;
  color: #FFFFFF;
  align-items: flex-end;
  justify-content: space-between;
  position: relative;
  z-index: 1;
}

nav span {
  font-size: 50px;
  font-family: "Bungee";
  margin-left: 1.5em;
  margin-bottom: 0.25em;
}

nav div {
  margin-right: 1.5em;
  margin-bottom: 1em;
}

nav div i {
  color: red;
}