#tweet-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
}

.new-tweet {
  display: block;
  position: relative;
  width: 60%;
  margin: auto;
  padding-top: 10px;
}

#tweet-text {
  width: 100%;
  display: block;
  background:transparent;
  border: none;
  border-bottom: 2.5px solid black;
}

#tweet-button {
  display: flex;
  font-size: 20px;
  background-color: #800000;
  font-family: "Bungee";
  color: whitesmoke;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}