.container {
  display: flex;
  flex-direction: column;
}

#tweet-id {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.new-tweet {
  display: block;
  position: relative;
  margin: auto;
  flex-direction: column;
}

#tweet-text {
  width: 100%;
  display: block;
  background:transparent;
  border: none;
  border-bottom: 2.5px solid black;
}

#tweet-button {
  display: flex;
  font-size: 20px;
  background-color: #800000;
  font-family: "Bungee";
  color: whitesmoke;
  padding: 5px;
  margin-left: 1.5em;
  margin-bottom: 0.5em;
}